services:
  postgres:
    image: postgres:15-alpine
    container_name: appointment_db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=appointment_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: appointment_redis
    ports:
      - '6379:6379'

volumes:
  postgres_data: